node_modules
.vscode/*
dist/
.DS_Store
tests/
docs/build
docs/source/_build
lib
es 
umd
*.log
combined.log
package-lock.json
logs/*
dist/*
.next/*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

